* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    position: sticky;
    top: 0px;
}

@media (max-width:1024px) {
    header {
        position: static;
    }
}

.info-container {
    background-color: blue;
    color: white;

}

.info-contacts {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    align-items: center;
}

.nav-wrapper {
    max-width: 1400px;
    display: flex;
    background-color: #D4EFFB;
    gap: 20px;
    align-items: center;
}

.nav-menu-item {
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.swiper {
    width: 800px;
    height: auto;
}

.top {
    height: 600px;
    width: 1400px;
    background-size: cover;
}

.pop {
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.pop1 {
    background-color: #2673B6;
    padding: 4px 10px;
}

.message {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: row;
    align-items: center;
    grid-row: 10px;
}

.msg-img {
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

.msg-img>img {
    width: 200px;
    height: 200px;
}

.messagem {
    text-align: center;
    max-width: 800px;
    text-align: left;
    margin: auto;


}

.msg {
    display: flex;
    text-align: justify;
    max-width: 800px;
    padding-bottom: 40px;

}

.achievement-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 30px 20px;
}

.achievement-item {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 30px 20px;
}

#facility {
    background-color: #1A2642;
    color: white;
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    gap: 30px;
}

.parent {
    max-width: 1200px;

    display: flex;
    gap: 20 px;
}

#motto {
    padding: 40px 0px;

}

.topic {
    font-size: xx-large;

}

.our-motto {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.motto-description {
    text-align: center;
}

#vision {

    padding: 0px;
}

.visionboard {
    max-width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.a {
    width: 500px;
    height: 500px;
    border-radius: 50px;

}

.heading-blue {
    color: blue;
    border-radius: 50px;
}

.one {
    text-align: center;
}

.bc {
    background-color: cadetblue;
    border-radius: 50px;
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}

.two {
    text-align: center;
}

.cc {
    background-color: #1A2642;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    gap: 10px;
    text-align: center;
}

.three {
    text-align: center;
}

.ac {
    background-color: crimson;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    text-align: center;
}


.parent {
    margin: auto;
    max-width: 1200px;
    display: flex;
    gap: 10px;
}

#video {
    background-color: #2673B6;
}

.video-section-content {
    text-align: center;

}

.college {
    font-size: xx-large;
    padding-top: 40px;
}

.part {
    padding-bottom: 60px;
    font-size: larger;

}


.video-section-content {

    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    align-content: center;
}


.more>a {
    text-decoration: none;
    background-color: yellow;
    padding: 20px;
}


.excellence {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

.aaa {
    font-size: rem;

}

.e-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 55px;
    margin: auto;
    border: 2px solid #F0BB40;
}

.excellence-1 {
    max-width: 1300px;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 20px;
    gap: 10px;
    padding-left: 20px;
}

.excellence-2 {

    text-align: center;
    background-color: #F4F3EF;
    align-items: center;
    padding: 20px 10px;
}

.experience {
    text-align: center;
    padding: 50px 20px;
    margin: auto;

    max-width: 1200px;
}

.ex-img {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    object-fit: cover;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    width: 100%;
    height: 100%;

}

.grid-item>img {
    height: 200px;
    width: 200px;
}

.kathmandu {
    font-family: "Poppins", sans-serif;

}


@media (max-width: 1024px) {
    .ex-img {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info-container {
        flex-direction: column;
    }

    .nav-wrapper {
        flex-direction: column;
    }

    .message {
        width: 1000px;
        flex-direction: column;
        margin: 0px;

    }

    .top {
        width: 1000px;
    }

    .msg-img {
        margin-left: 0px;
    }

    .msg-img>img {
        width: 1000px;
        height: 1050px;

    }

    .msg {
        display: flex;
        text-align: justify;
        width: 1000px;
        padding-bottom: 40px;

    }

    .messagem {
        text-align: center;
        width: 1000px;
    }

    .msg {
        justify-content: center;
    }

    video {
        width: 1000px;
    }


    .achievement-container {
        width: 1000px;
        gap: 3px;
    }
}

@media (max-width:750px) {
    .ex-img {
        grid-template-columns: 1fr 1fr;


    }

    .info-container {
        flex-direction: column;
    }

    .nav-wrapper {
        flex-direction: column;
    }

    .message {
        flex-direction: column;
    }

}