* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.contact-container {
    color: white;
    background-color: #BE3A30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}



.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;
    margin: auto; */

}

.person {
    align-items: center;
    color: white;
    font-family: "Imperial Script", cursive;
    font-size: 2.5rem;
}

.reachout {
    display: flex;
    gap: 20px;
    font-size: 2rem;
    font-family: "Imperial Script", cursive;

}

.reachout>a {
    color: white;
    text-decoration: none;
}



.content {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    margin: auto;
    max-width: 75%;
    height: 100vh;
    align-items: center;

}


.content>div {
    width: 30vw;
    height: 30vw;
}

.Programming {
    justify-content: center;
    height: 300px;
    position: relative;
    border: solid black;

}

.Programming>img {
    display: block;
    width: 100%;
    height: 100%;

}


.a {
    font-weight: bold;
    white-space: nowrap;
}

.b {
    text-align: left;
    line-height: 1.4;

}



.Tools {
    border: solid black;
    color: bisque;
    position: relative;

}

.Tools>img {
    display: block;
    width: 100%;
    height: 100%;


}

.Languages {
    border: solid black;
    color: bisque;
    position: relative;

}

.Languages>img {
    display: block;
    width: 100%;
    height: 100%;

}

.text-overlay {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
